.dataTables_wrapper {
  margin: 20px auto;
  max-width: 1500px;
}
.users {
  text-align: center;
}

tr {
  border: none;
}
td {
  border-right: solid 2px black;
  border-left: solid 2px black;
}
thead {
  background-color: #f5f5f5;
}

th {
  text-align: left;
  padding: 10px;
  border: 2px solid black;
}

td {
  padding: 10px;
}
